<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
        <title>Say Hello!</title>
    </head>
    <body>
        <main>
            <header>
                <h1>Say Hello</h1>
                <small>to the world</small>
            </header>
            <div>
                <form method="post">
                    <div>
                        <label for="name">Name</label>
                        <input id="name" maxlength="20" minlength="1" name="name" required type="text" value>
                    </div>
                    <div>
                        <label for="body">Message</label>
                        <textarea id="body" maxlength="200" minlength="1" name="body" required></textarea>
                    </div>
                    <input id="submit" name="submit" type="submit" value="Submit">
                </form>
            </div>
            <h5>
                "4 messages "
                <small>&darr;</small>
            </h5>
            <div>
                <a>
                    <div>
                        <h5>
                            "阿凡达 "
                            <small> #4</small>
                        </h5>
                        <small>2023/01/10 17:01</small>
                    </div>
                    <p>今天要努力哟。</p>
                </a>
                <a>
                    <div>
                        <h5>
                            "tangyue "
                            <small> #3</small>
                        </h5>
                        <small>2023/01/10 16:01</small>
                    </div>
                    <p>实现财富自由。</p>
                </a>
                <a>
                    <div>
                        <h5>
                            "feishu "
                            <small> #2</small>
                        </h5>
                        <small>2023/01/10 15:01</small>
                    </div>
                    <p>to be stronger.</p>
                </a>
                <a>
                    <div>
                        <h5>
                            "肥树仙僧 "
                            <small> #1</small>
                        </h5>
                        <small>2023/01/10 14:01</small>
                    </div>
                    <p>今天第一次接触flask实战课程，未来加油。</p>
                </a>
            </div>
            <footer>
                <small>"&copy; 2022 Grey Li / GitHub / HelloFlask"</small>
                <p>
                    <a id="bottom" href="#" title="Go Top">&uarr;</a>
                </p>
            </footer>
        </main>
    </body>
</html>